nav1{
    color: green;
}
nav2{
    color: red;
}
nav3{
    color: blue;
}
nav4{
    color: mediumblue;
}
nav7{
    color: green;
}
nav9{
    font-size:  50px;
    color: green;
}
img{
    border-radius: 30px;
}
html{
    font-family: 'Courier New', Courier, monospace;
}